{% extends 'forum/group_template.html' %}
{% block group-body %}

{#    <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab" style="touch-action: pan-y pinch-zoom;">#}
{#        <div class="md:flex md:space-x-6 uk-active">#}
{#            <div class="space-y-5 flex-shrink-0 md:w-7/12">#}
{#                <div class="card lg:mx-0 uk-animation-slide-bottom-small visible-card">#}
{#                   {% include 'event/event_detail.html' %}#}
{#                    <center>#}
{#                        <h1>Detail page</h1>#}
{#                    </center>#}
{#                    <br>#}
{##}
{#                </div>#}
{#            </div>#}
{% endblock %}