{% extends "base.html" %}
{% load crispy_forms_tags %}

<head>
    <title></title>
    <style>
        #po1{
            font-size: 30px;
        }
    </style>
</head>
{% block content %}
    <div class="pagetitle">
        <h1>Event Creation Page</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "forum:home" %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url "polls:poll-list" %}">Polls</a></li>
                <li class="breadcrumb-item"><a href="{% url "event:event-list" %}">Event</a></li>
                <li class="breadcrumb-item active">Create Event</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create an event by filling out the form below:</h5>
                        <p class="text-danger">{{ form.non_field_errors }}</p>
                         <div class="mx-auto p-4 flex flex-col">
                            <div id="Post" class="">
                              <h2 class="font-bold text-xl"></h2>
                              <form class="" method="POST" enctype="multipart/form-data" action="">
                                {% csrf_token %}
                                <div class="w-full" id="po1">
                                    <label>Title</label>
                                  {{ form.name }}
                                    <br>
                                    <label>Description</label>
                                    {{ form.description }}
                                    <br>
                                    <label>Time Start</label>
                                    <input type="datetime-local" name="{{ form.start_date_time.name }}" required placeholder="00:00">
                                    <br>
                                    <label>Time End</label>
                                    <input type="datetime-local" name="{{ form.end_date_time.name }}" required placeholder="00:00">
                                    <br>
                                    <label>Location</label>
                                    {{ form.location }}
                                    <br>
                                  <button class="bg-blue-500 py-4 px-4 m-2 text-white" type="submit">Create Event</button>
                                </div>
                              </form>
                            </div>
                          </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}