{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="row justify-content-between vertical-center pagetitle">
        <div class="col-4">
            <h1>Groups</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Groups</li>
                </ol>
            </nav>
        </div>
        <div class="col-2">
            <a href="{% url 'forum:group-create' %}"><button type="submit" class="btn btn-primary">Add Group</button></a>
        </div>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-2">

            </div>

            <div class="col-lg-6 group-list">
                <div class="row">
                    {% for group in group_list %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-1">
                                <a href="#">
                                    <img src="{{ group.avatar.url }}" class="small-img rounded-circle" alt="...">
                                </a>

                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'forum:group-detail' group.slug %}">
                                            {{ group.name }}
                                        </a>
                                    </h5>
                                    <p class="card-text">{{ group.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card with an image on left -->
                    {% endfor %}
                </div>
            </div><!-- End Left side columns -->

            <div class="col-lg-2">

            </div>


        </div>
    </section>
{% endblock %}