{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <section class="section dashboard">
        <div class="row">

            <div class="col-8 mcontainer">

                {% block group-top %}
                <!-- Profile cover -->
                <!-- Profile cover -->

                <div class="profile user-profile">

                    <div class="profiles_banner">
                        <img src="{% if group.cover_image %}
                            {{ group.cover_image.url }}
                            {% else %}
                            {% static 'img/cover_image_placeholder.jpg' %}
                            {% endif %}" alt="">
                        <div class="profile_action absolute bottom-0 right-0 space-x-1.5 p-3 text-sm z-50 hidden lg:flex">
                            {% if request.user == group.owner %}
                                <a href="{% url 'forum:group-edit' group.slug %}"
                                   class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                                    <ion-icon name="create-outline" class="text-xl md hydrated" role="img"
                                              aria-label="create outline"></ion-icon>
                                    <span> Edit </span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="profiles_content">

                        <div class="profile_avatar">
                            <div class="profile_avatar_holder">
                                {% if group.avatar %}
                                <img src="{{ group.avatar.url }}" alt="">
                                {% endif %}
                            </div>
                            <div class="user_status status_online"></div>
                            <div class="icon_change_photo" hidden="">
                                <ion-icon name="camera" class="text-xl md hydrated" role="img"
                                          aria-label="camera"></ion-icon>
                            </div>
                        </div>

                        <div class="profile_info">
                            <h1> {{ group.name }} </h1>
                            <p class="text-center"> {{ group.privacy | title }} Group
                                {% if group.privacy == 'public' or membership_checked %}
                                |
                                <a href="{% url 'forum:members' group.slug %}">
                                    {{ number_of_members }} members
                                </a>
                                {% endif %}
                            </p>
                        </div>
                        <div class="flex items-center space-x-4">
                            {% if membership_checked %}
                                <form method="post" action="{% url 'forum:join-leave' group.slug request.user.id %}">
                                {% csrf_token %}
                                <button type="submit"
                                   class="flex items-center justify-center h-9 px-5 rounded-md bg-danger text-white  space-x-1.5">
                                    <span> Leave </span>
                                </button>
                                </form>
                            {% elif membership_pending %}
                                <form method="post" action="{% url 'forum:reject_join_request' group.slug request.user.id %}">
                                {% csrf_token %}
                                <button type="submit"
                                   class="flex items-center justify-center h-9 px-5 rounded-md bg-blue-400 text-white  space-x-1.5">
                                    <span> Cancel Request </span>
                                </button>
                                </form>
                            {% else %}
                                <form method="post" action="{% url 'forum:join-leave' group.slug request.user.id %}">
                                {% csrf_token %}
                                <button type="submit"
                                   class="flex items-center justify-center h-9 px-5 rounded-md bg-blue-600 text-white  space-x-1.5">
                                    <span> Join </span>
                                </button>
                                </form>
                            {% endif %}
                        </div>

                    </div>

                    <div class="flex justify-between lg:border-t border-gray-100 flex-col-reverse lg:flex-row pt-2">
                        <nav class="responsive-nav pl-3">
                            <ul>
                                {% url 'forum:group-about' group.slug as url %}
                                <li>
                                    <a class="{% if request.path == url %}active{% endif %}" href="{{ url }}" aria-expanded="false">
                                        About
                                    </a>
                                </li>
                            {% if group.privacy == 'public' or membership_checked %}
                                {% url 'forum:group-detail' group.slug as url %}
                                <li>
                                    <a class="{% if request.path == url %}active{% endif %}" href="{{url}}" aria-expanded="false">
                                        Discussions
                                    </a>
                                </li>
                                {% url 'forum:polls:poll-list' group.slug as url %}
                                <li>
                                    <a class="{% if request.path == url %}active{% endif %}" href="{{ url }}" >
                                        Polls
                                    </a>
                                </li>
                                {% url 'forum:event:event-list' group.slug as url %}
                                <li>
                                    <a class="{% if request.path == url %}active{% endif %}" href="{{ url }}" aria-expanded="false">
                                        Events
                                    </a>
                                </li>
                            {% endif %}
                            </ul>
                        </nav>

                    </div>

                </div>

                {% endblock %}

                {% block group-body %}

                            
                {% endblock %}


                <!-- Sidebar -->
                {% block group-sidebar-element %}
                <div class="w-full space-y-6">

                    <div class="widget card p-5">
                        <h4 class="text-lg font-semibold"> About </h4>
                        <ul class="text-gray-600 space-y-3 mt-3">
                            <li class="flex items-center space-x-2">
                                <ion-icon name="person"
                                          class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
                                          role="img" aria-label="home sharp"></ion-icon>
                                Admin: <strong>{{ group.admin.count }}</strong>
                            </li>
                            <li class="flex items-center space-x-2">
                                <ion-icon name="people"
                                          class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
                                          role="img" aria-label="logo rss"></ion-icon>
                                Members: <strong> {{ number_of_members }} </strong>
                            </li>
                        </ul>
                        <div class="gap-3 grid grid-cols-3 mt-4">
                            <img src="assets/images/avatars/avatar-lg-2.jpg" alt=""
                                 class="object-cover rounded-lg col-span-full">
                            <img src="assets/images/avatars/avatar-2.jpg" alt="" class="rounded-lg">
                            <img src="assets/images/avatars/avatar-4.jpg" alt="" class="rounded-lg">
                            <img src="assets/images/avatars/avatar-5.jpg" alt="" class="rounded-lg">
                        </div>
                        {% if request.user == group.owner  %}
                        <a href="{% url 'forum:group-edit' group.slug %}" class="button gray mt-3 w-full"> Edit </a>
                        {% endif %}
                    </div>

                </div>

                {% endblock %}
            </div>


        </div>

    </section>

{% endblock %}