{% extends 'base.html' %}

{% block content %}
    {% load forum_tags %}
    <div class="pagetitle">
        <h1>News Feed</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            {% for group in group_feed %}
                {% for post in group.posts.all|slice:":1" %}
                    <h3>{{ group.name }}</h3>
                    <p>{{ post.content | truncatewords:10 }}</p>
                    {% if post.attachement %}
                    <img src="{{ post.attachment.url }}">
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>
{% endblock %}