
{% extends 'group_template.html' %}

{% block group-content %}
    <div class="" id="timeline-tab" style="touch-action: pan-y pinch-zoom;">
        <div class="card lg:mx-0 uk-animation-slide-bottom-small visible-card lg:p-4 p-2.5">
            <div class="card-header">
                <h4>Events List</h4>
            </div>
            <div class="card-body" id='calendar'></div>
        </div>
    </div>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

            initialView: 'dayGridMonth',
            timeZone: 'Africa/Lagos',
            locale: 'en',
            firstDay: 1,
            events: [
                {% for event in events %}
                    {
                        title: "{{ event.name }}",
                        start: '{{ event.start_date_time.isoformat}}',
                        end: '{{ event.end_date_time.isoformat}}',
                        url: '{% url 'forum:event:event-detail' group.slug event.id %}',

                    },
                {% endfor %}

            ]
        });
        calendar.render();
      });

    </script>


{% endblock %}